<nz-layout class="layout">
    <nz-header>
        <h1 class="logo">Angular组件库</h1>
    </nz-header>
    <nz-layout>
        <nz-sider [nzWidth]="200" style="background:#fff">
            <ul nz-menu [nzMode]="'inline'" style="height:100%">
                <li nz-menu-item>button</li>
                <li nz-menu-item>input</li>
                <li nz-menu-item>tootip</li>
            </ul>
        </nz-sider>
        <nz-layout style="padding:24px">
            <nz-content style="background:#fff; padding: 24px; min-height: 280px;">Content</nz-content>
        </nz-layout>
    </nz-layout>
</nz-layout>